<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ingeloop.WPF.Core" version="1.0.0.1" targetFramework="net48" />
  <package id="Ingeloop.WPF.Design" version="1.0.0.1" targetFramework="net48" />
  <package id="Ingeloop.WPF.Icons" version="1.0.0.3" targetFramework="net48" />
</packages>